{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">

            <div class="card mt-4">
                <div class="card-body">

                    <div class="card-title border-bottom">
                        <h3>{% block card_title %} {% endblock %}</h3>
                    </div>
                    {% block card_content %}
                    
                    {% endblock %}
                    <small>
                        {% block links %}{% endblock %}
                    </small>

                </div>
            </div>
            {% block extra %}{% endblock extra%}
        </div>
    </div>
</div>
{% endblock %}